$font-size-base: 16px !default

$main-color: #22B198
$main-color-light_1: lighten($main-color, 5%)
$main-color-light_2: lighten($main-color, 10%)
$main-color-light_3: lighten($main-color, 15%)
$main-color-light_4: lighten($main-color, 20%)
$main-color-light_5: lighten($main-color, 30%)

//$second-color: rgba(19,189,200, 1)
$second-color: #EE7160
$second-color-light_1: lighten($second-color, 5%)
$second-color-light_2: lighten($second-color, 10%)
$second-color-light_3: lighten($second-color, 15%)
$second-color-light_4: lighten($second-color, 20%)
$second-color-light_5: lighten($second-color, 35%)


$grey-text: rgba(0, 0, 0, 0.6)